@model EmployeeManagement.Models.Employee  // <!--This is for strongly typed views-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>By Using ViewData: @ViewData["PageTitle"]</h3>

    @{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;   //if data tyoe is string we odnt have to cast it.

    }

    <div>
        Name : @employee.Name;
    </div>

    <div>
        Department : @employee.Department;
    </div>

    <div>
        Id : @employee.Id;
    </div>

    <div>
        Email : @employee.EmailId;
    </div>

    <h3>By Using ViewBag: @ViewBag.PageTitle</h3>
    <!-- No explicit type  converison is required when using ViewBag-->

    <div>
        Name : @ViewBag.employee.Name;
    </div>

    <div>
        Department : @ViewBag.employee.Department;
    </div>

    <div>
        Id : @ViewBag.employee.Id;
    </div>

    <div>
        Email : @employee.EmailId;
    </div>

    <h3>By Using StronglyTypedView: @ViewBag.PageTitle</h3>
    <!-- No explicit type  converison is required when using ViewBag-->

    <div>
        Name : @Model.Name;
    </div>

    <div>
        Department : @Model.Department;
    </div>

    <div>
        Id : @Model.Id;
    </div>

    <div>
        Email : @Model.EmailId;
    </div>

    <form asp-controller="Home" asp-action="Create" method="post">
        <label asp-for="Name"></label>

    </form>

</body>
</html>